<ul>
  <li *ngFor="let singlePost of pippo">
    <div
      [ngStyle]="{
        border: singlePost.id % 2 === 0 ? '2px solid red' : '2px solid blue'
      }"
    >
      <h1>
        <!-- INTERPOLAZIONE: {{valore da interpolare}}, simile al ${} che usavamo in passato -->
        <!-- Se non creo l'interfaccia che mi da le proprieta' di singlePost non posso accedere a .title -->
        {{ singlePost.title }} || {{ singlePost.id }}
      </h1>
      <p>
        {{ singlePost.body }}
      </p>
    </div>
  </li>
</ul>
